#root {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222;
    color: white;
    min-height: 100vh;
}

.app {
    flex-grow: 1;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.board {
    width: 800px;
    height: 800px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 0;
    margin-top: 10px;
}

.hex {
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.hex:hover {
    filter: brightness(75%);
}